---
import Layout from "../layouts/Layout.astro";
import GDLevel from "../components/GDLevel.astro";
---

<Layout
  title="GD Level Info"
  description="View detailed information about Geometry Dash levels"
>
  <div class="container py-5">
    <GDLevel levelId="125681724" />
  </div>
</Layout>