<section>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="shadow-none mt-4" style="height: auto;width: 724px;">
      <div class="row m-auto">
        <div class="col-6 col-sm-4 col-md-4">
          <a href="https://apps.apple.com/us/app/geometry-dash/id625334537" target="_blank"
            ><img class="img-fluid mb-2" src="https://www.robtopgames.com/Images/ios.png" /></a
          >
        </div>
        <div class="col-6 col-sm-4 col-md-4">
          <a
            href="https://play.google.com/store/apps/details?id=com.robtopx.geometryjump&hl=en"
            target="_blank"
            ><img class="img-fluid mb-2" src="https://www.robtopgames.com/Images/google.png" /></a
          >
        </div>
        <div class="col-6 col-sm-4 col-md-4">
          <a href="https://store.steampowered.com/app/322170/Geometry_Dash/" target="_blank"
            ><img class="img-fluid" src="https://www.robtopgames.com/Images/steam.png" /></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
