<section>
  <div>
    <div class="container">
      <div class="text-center d-flex justify-content-center align-items-center mt-3">
        <a href="https://www.youtube.com/channel/UCz_yk8mDSAnxJq0ar66L4sw" target="_blank"
          ><img
            class="me-2"
            width="50"
            height="48"
            src="https://www.robtopgames.com/Images/gj_ytIcon_001.png"
          /></a
        ><a href="https://x.com/robtopgames" target="_blank"
          ><img
            class="me-2"
            width="50"
            height="48"
            src="https://www.robtopgames.com/Images/gj_twIcon_001.png"
          /></a
        ><a href="https://www.facebook.com/geometrydash" target="_blank"
          ><img
            class="me-2"
            width="50"
            height="48"
            src="https://www.robtopgames.com/Images/gj_fbIcon_001.png"
          /></a
        ><a href="https://discord.com/invite/geometrydash" target="_blank"
          ><img
            class="me-2"
            width="50"
            height="48"
            src="https://www.robtopgames.com/Images/gj_discordIcon_001.png"
          /></a
        ><a href="https://www.reddit.com/r/geometrydash/" target="_blank"
          ><img
            class="me-2"
            width="50"
            height="48"
            src="https://www.robtopgames.com/Images/gj_rdIcon_001.png"
          /></a
        ><a href="https://www.twitch.tv/directory/category/geometry-dash" target="_blank"
          ><img
            class="me-2"
            width="50"
            height="48"
            src="https://www.robtopgames.com/Images/gj_twitchIcon_001.png"
          /></a
        >
      </div>
    </div>
  </div>
</section>
