<section>
  <div class="d-flex justify-content-center align-items-center mt-5">
    <img
      class="img-fluid d-flex"
      src="https://www.robtopgames.com/Images/GJ_logo_001.png"
      width="783"
      height="94"
    />
  </div>
  <div class="container mw-100" style="height: auto;width: 687px;">
    <div class="autoplay shadow mt-4 video-thumb">
      <a href="https://youtu.be/LxA4NJMiZ8o"
        ><img class="img-fluid" src="https://img.youtube.com/vi/LxA4NJMiZ8o/maxresdefault.jpg" /></a
      >
    </div>
  </div>
</section>
